// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

// custom colors
$background-color: #F9F7F3;
$text: #6E675F;
$malachite: #0BD55C;
