.top-container{
  margin-top: 16px;
  display: flex;
  justify-content: space-evenly;
}

.top-left-container{
  border: solid;
  width: 30%;
  img{
    width: 100%;
    height: 450px;
  }
}

.bottom-container{
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 350px;
  height: 250px;
  box-shadow: 1px 1px 10px gray;
}

.right-container {
  width: 60%;
}
