<div class="banner">
  <div class="banner-text">
    <h1>PlantBnB</h1>
    <p>Placeholder text</p>
  </div>
  <div class="banner-buttons">
    <%= link_to offers_path(@offer) do%>
      <div class="btn btn-ghost">Look for a plantkeeper
      </div>
    <% end %>
    <%= link_to new_offer_path(@offer) do%>
      <div class="btn btn-ghost">Offer plantkeeping
      </div>
    <% end %>
  </div>
</div>
