<div class="banner">
  <div class="banner-text">
    <h1>Plant-BnB</h1>
    <p>Placeholder text</p>
  </div>

    <div class="btn btn-ghost">Look for a plantkeeper
    </div>
    <%# offer plantkeeping links to offers/new + make link prettier %>
    <div>Offer plantkeeping
    </div>

</div>
