<div class="banner">
  <div class="banner-text">
  <h1>Plant-BnB</h1>
  <h2>Placeholder text</h2>
  </div>
  <div class="banner-buttons">
    <div class="btn btn-primary">Look for a plantkeeper
    </div>
    <div class="btn btn-primary">Offer plantkeeping
    </div>
  </div>
</div>
