<div class="banner">
  <div class="banner-text">
    <h1>Plant-BnB</h1>
    <p>Placeholder text</p>
  </div>
  <div class="banner-buttons">
    <div class="btn btn-ghost">Look for a plantkeeper
    </div>
    <div class="btn btn-ghost">Offer plantkeeping
    </div>
  </div>
</div>
