
<%= link_to offer_path(offer) do%>
  <div class="card-trip">
    <img src="https://i.pinimg.com/564x/0e/5a/59/0e5a593333842e06c69ac53ef8ea8f0d.jpg" />
    <div class="card-trip-infos">
      <div>
<!--
<div class="card-trip">
  <%#= cl_image_tag("tzisydlo4yowwnccdjod", width: 400, height: 300) %>
  <%# <img src="https://i.pinimg.com/564x/0e/5a/59/0e5a593333842e06c69ac53ef8ea8f0d.jpg" /> %>
  <div class="card-trip-infos">
    <div> -->

      <h2><%= offer.area %></h2>
      <p><%= offer.description %></p>
    </div>
      <h2 class="card-trip-pricing"><%= offer.price %>$</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
<% end %>
