<div class="container">
  <div class="offer-details">
    <div>
      <h1><%= @offer.area %></h1>
    </div>
    <div>
      <img src="https://i.pinimg.com/564x/0e/5a/59/0e5a593333842e06c69ac53ef8ea8f0d.jpg" />
    </div>
    <div>
    <h2><%= @offer.price %>$</h2>
    </div>
    <div>
      <h2><%= @offer.description %></h2>
    </div>
  </div>
</div>
